backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.5.1
blessings==1.6
blinker==1.4
boto==2.42.0
boto3==1.4.0
bpython==0.16
brotlipy==0.6.0
construct==2.5.3
coverage==4.2
EditorConfig==0.12.1
Flask==0.11.1
foo==0.0.1
get==0.0.0
greenlet==0.4.10
h2==2.4.2
html2text==2016.9.19
hyperframe==4.0.1
imagesize==0.7.1
ipython==5.1.0
ipywidgets==5.2.2
Jinja2==2.8
jsonpickle==0.9.3
jsonschema==0.8.0
jupyter-core==4.2.0
livereload==2.4.1
lxml==3.6.0
wcwidth==0.1.7
websocket-client==0.37.0
Werkzeug==0.11.11
